<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      {% if site.logo %}
      <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
      {% else %}
      <span>{{ site.title }}</span>
      {% endif %}
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="{{site.baseurl}}/about">About</a>
        <li class="nav-link"><a href="{{site.baseurl}}/category/thesis">Thesis</a>
          <ul>
            <a href="{{site.baseurl}}/category/Deep_Learning">Deep Learning</a>
            <a href="{{site.baseurl}}/category/Continual_Learning">Continual Learning</a>
            <a href="{{site.baseurl}}/category/Multi_modal_Learning">Multi-modal Learning</a>
          </ul>
        <li class="nav-link"><a href="{{site.baseurl}}/category/lecture">Lecture</a>
          <ul>
            <a href="{{site.baseurl}}/category/computervision">CV</a>
            <a href="{{site.baseurl}}/category/optimization">Optimization</a>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
